{% include 'base.html' %}
{% block content %}
  {% if validlink %}
  <h2>Set your new password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change my password</button>
  </form>
{% else %}
  <h2>Link Already Used or Expired</h2>
  <p>This password reset link is no longer valid. Please request a new one.</p>
  <a href="{%url 'trigger_account_email' request.user.id%}">Request new password reset</a>
{% endif %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #01013e;
        padding: 20px;
        display: flex;
        justify-content: center; 
        flex-direction: column;   
        min-height: 100vh;
        align-items: center;
    }
    h2 {
        color: white;
    }
    form {
        background: white;
        padding: 20px;  
        margin-top: 20px;
        border-radius: 25px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    form button {
        padding: 10px 20px;
        background: #01013e;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
{% endblock %}

