{% include 'base.html' %}
{% block content %}
  <h2>Password Reset Successful</h2>
  <p>Your password has been updated. You can now <a href="{% url 'login_view' %}">log in</a> with your new password.</p>

  <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #01013e;
        padding: 20px;
        display: flex;
        justify-content: center; 
        flex-direction: column;   
        min-height: 100vh;
        align-items: center;
    }
    h2, p {
        color: white;
    }
    a {
        color: #ffcc00;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
  </style>
{% endblock %}
