{% include 'base.html' %}

<h2>À propos de UMI NOTIF</h2>
<p>UMI NOTIF est une plateforme de notification conçue pour les étudiants de l'Université Mouloud Mammeri de Tizi-Ouzou (UMMTO). Notre objectif est de fournir un moyen efficace et rapide pour les étudiants de recevoir des notifications importantes concernant les événements, les annonces, et les mises à jour liés à la vie universitaire.</p>

<style>
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;    
        min-height: 100vh;
        background-color: #f9f9f9;
        color: #333;
        margin: 0;
        padding: 0;
    }
    h2 {
        color: #333;
        text-align: center;
        margin-top: 20px;
    }
    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 20px auto;
        max-width: 800px;
        padding: 0 20px;
    }
</style>