{% include 'base.html' %}
<h2>Messages du département {{ departement }}</h2>
<div class="notifs-messages-div">
  {% for message in messages %}
    <div class="notif-message-div">
      <h4>{{ message.get_level_display }}</h4>
      <h4>
        <a href="{% url 'message_detail' message.slug %}">
          {{ message.content|truncatewords:5 }}
        </a>
      </h4>
      <h4>Date: {{ message.created_at|date:"d/m/Y" }}</h4>
    </div>
  {% empty %}
    <p>No messages available yet.</p>
  {% endfor %}
</div>

<!-- Pagination controls -->
<div class="pagination">
  {% if messages.has_previous %}
    <a href="?page={{ messages.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ messages.number }} of {{ messages.paginator.num_pages }}</span>

  {% if messages.has_next %}
    <a href="?page={{ messages.next_page_number }}">Next</a>
  {% endif %}
</div>

<!-- Back link -->
<p><a href="{% url 'notification' %}">← Retour au tableau de bord</a></p>